<ul id="article-tag-list">
Tags:
{% for tag in article.tags %}
<li class="{{ tag | handleize }}"><a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}">{{ tag }}</a></li>
{% endfor %}
</ul>