<div id="product-loop-{{ product.handle }}" class="product{% cycle 'featured': ' one', ' two', ' last' %}">
  <div class="image">
    <a href="/collections/{{ product-loop }}{{ product.url }}"><img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape  }}" /></a>
    {% if product.available == false %}
      <div class="sold-out-corner">
      </div>
    {% endif %}
  </div>
  <div class="details-under clearfix">
      <a href="/collections/{{ product-loop}}{{product.url}}">
          <div class="title">{{product.title}}</div>
          <div class="product-price">
            {% if product.price_min < product.compare_at_price_min %}
            {{ product.price_min | money }} <span class="original_price">{{ product.compare_at_price_min | money }}</span>
            {% else %}
            {{ product.price_min | money }}
            {% endif %}
          </div>
        </a>
        </div>
</div>

{% cycle 'clear-table': '', '', '<div style="clear:both;"></div>' %}