<div id="product-loop-{{ product.handle }}" class="product{% cycle 'featured': ' one', ' two', ' last' %}">
  <div class="image">
    <a href="/collections/{{ product-loop }}{{ product.url }}"><img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape  }}" /></a>
  </div>
  <div class="details-under clearfix">
      <a href="/collections/{{ product-loop}}{{product.url}}">
          <div class="title">{{product.title}}</div>
          <div class="product-price">{{product.price | money}}</div>
        </a>
        </div>
</div>

{% cycle 'clear-table': '', '', '<div style="clear:both;"></div>' %}