<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ shop.name }} - {{ page_title | escape }}</title>

  <link rel="shortcut icon" href="{{ 'favicon_maroon.png' | asset_url }}" />

  {{ content_for_header }}

  <meta property="og:title" content="krapyDNA" />
  <meta property="og:type" content="company" />
  <meta property="og:url" content="http://www.krapyDNA.com" />
  <meta property="og:image" content="https://static.shopify.com/s/files/1/0070/6762/t/1/assets/krapy-black.png?104165" />
  <meta property="og:site_name" content="krapyDNA" />
  <meta property="fb:admins" content="1342020184" />

  <meta name="description" content="krapyDNA is a Christian clothing brand dedicated to creating high quality clothing but more importantly its mission is to share the message that God can use ordinary people to make an extraordinary impact on the world.">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="SbavYuoLh01JwxFipNH3kTCuguZBz-Yfod5ytvMOa9I" />

  {{ 'reset.css' | asset_url | stylesheet_tag }}
  {{ 'shop.css' | asset_url | stylesheet_tag }}

  <!--[if IE]>
  {{ 'ie.css' | asset_url | stylesheet_tag }}
  <![endif]-->
  <!--[if lt IE 7 ]>
  {{ 'ie6.css' | asset_url | stylesheet_tag }}
  <![endif]-->

  {{ 'modernizr.js' | asset_url | script_tag }}

  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'api.jquery.js' | asset_url | script_tag }}
  {{ 'ajaxify-shop.js' | asset_url | script_tag }}

  {{ 'jquery-ui-1.8.6.js' | asset_url | script_tag }}
  {{ 'jquery.cookie.js' | asset_url | script_tag }}
  {{ 'jquery.slider.js' | asset_url | script_tag }}
  {{ 'cloud-zoom.js' | asset_url | script_tag }}
  {{ 'shop.js' | asset_url | script_tag }}
  {{ 'mailchimp.js' | asset_url | script_tag }}
  {{ 'krapy.js' | asset_url | script_tag }}

  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  {% if settings.typeface_method == "google_webfonts" %}
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family={{ settings.google_webfont_font }}">
  {% endif %}
  <link href='http://fonts.googleapis.com/css?family=Carter+One&v1' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo:regular,bold&v1' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bangers:regular&v1' rel='stylesheet' type='text/css'>

  <script type="text/javascript">
  Shopify.money_format = '{{ shop.money_format }}';
  </script>

  {% capture active_url %}{% if template == "index" %}/{% elsif template == "collection" %}/collections/{{ collection.handle }}{% elsif template == "product" %}{% if collection %}/collections/{{ collection.handle }}{% endif %}/products/{{ product.handle }}{% elsif template == "page" %}/pages/{{ page.handle }}{% elsif template == "blog" %}/blogs/{{ blog.handle }}{% elsif template == "cart" %}/cart{% elsif template == "search" %}/search{% endif %}{% endcapture %}
</head>

<body>
  <div class="wrapper">

    <header class="clearfix">
      <div class="logo">
        {% if settings.use_logo %}
        <a href="/" class="shop_logo"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" class="png_bg" /></a>
        {% else %}
        <h1><a href="/">{{ shop.name }}</a></h1>
        {% endif %}
      </div> <!-- /.logo -->

      <div id="top-right-box">
        <p class="contact-info">
          <a class="newsletter-link" href="javascript:void(0)">Newsletter Sign Up</a>

          {% if shop.customer_accounts_enabled %}
          <span class="customer">
            {% if customer %}
            Welcome <a href="/account">{{ customer.first_name }}</a> | {{ 'Logout' | customer_logout_link }}
            {% else %}
            {{ 'Customer Login' | customer_login_link }}
            {% endif %}
          </span>
          {% endif %}
          {% if settings.contact_phone != "" %}
          <span class="tel">{{ settings.contact_phone }}</span>
          {% endif %}
          {% if settings.contact_email != "" %}
          <span class="email"><a href="mailto:{{ settings.contact_email }}">{{ settings.contact_email }}</a></span>
          {% endif %}
        </p>
        <div id="news-box">
            Shop opens July 11
          <a href="/pages/faq#shipping" id="free-shipping">
            Free Domestic Shipping!
          </a>
        </div>
      </div>

      <div id="newsletter-box">
        <div id="mc_embed_signup" class="clearfix">
        <form action="http://krapyDNA.us2.list-manage.com/subscribe/post?u=df6104009860b5bdf5e62cf87&amp;id=7d3239b744" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
      	  <div id="newsletter-head">krapyDNA Newsletter</div>
          <div id="newsletter-text">Sign up to receive product updates, coupons, and any other exciting news from krapyDNA! Your email will be kept confidential and you can
            opt out at any time.</div>
          <!-- <label for="mce-EMAIL"></label> -->
          <input type="text" value="Email Address" name="EMAIL" class="required email" id="mce-EMAIL">
        <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="btn">
    </form>
    <div id="mce-responses">
			<div class="response" id="mce-error-response" style="display:none;"></div>
			<div class="response" id="mce-success-response" style="display:none;"></div>
		</div>
        </div>

        <a id="newsletter-close" href="javascript:void(0)">X</a>
      </div>

    </header>

    <nav class="main">
      <ul class="clearfix">
        {% for link in linklists[settings.main_linklist].links %}
        {% if linklists[link.handle] == empty %}
        <li><a href="{{ link.url }}" class="{% if link.url == active_url %} current{% endif %}{% if template == 'article' and link.url == blog.url %} current{% endif %}"><span>{{ link.title }}</span></a></li>
        {% else %}
        <li class="dropdown"><a href="{{ link.url }}" class="{% if link.url == active_url %} current{% endif %}{% if template == 'article' and link.url == blog.url %} current{% endif %}"><span>{{ link.title }}</span></a>
          <ul class="dropdown">
            {% for link in linklists[link.handle].links %}
            <li><a href="{{ link.url }}"{% if link.url == active_url %} class="current"{% endif %}>{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% endfor %}
        <div class="cart-summary clearfix">
          <span class="cart"><a href="/cart"><span class="cart-total-items"><span class="count">{{ cart.item_count }}</span> {{ cart.item_count | pluralize: 'Item', 'Items' }} (<span class="total_price">{{ cart.total_price | money }}</span>)</span></a></span>
          <div id="cart-updated"><a href="/cart">Added to cart</a></div>
        </div> <!-- /.cart-summary -->
      </ul>
    </nav>

    <section id="body" class="clearfix">
      {{ content_for_layout }}
    </section> <!-- /#body -->

    <footer class="clearfix">
      {% if settings.footer_linklist_1.title != "" and linklists[settings.footer_linklist_1].links.size > 0 %}
      <nav>
        <ul>
          <li id="copyright"><a href="http://www.krapydna.com">&copy; krapyDNA 2011</a> <strong>&middot;</strong></li>
          {% for link in linklists[settings.footer_linklist_1].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li class="social"><strong>&middot;</strong> <a href="http://www.facebook.com/krapyDNAapparel" id="facebook">Facebook</a></li>
          <li class="social"><a href="http://www.twitter.com/krapyDNAapparel" id="twitter">@Twitter</a></li>
        </ul>
      </nav>
      {% endif %}
      <div id="social-buttons">
        <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.krapydna.com" data-text="krapyDNA Apparel - Ordinary People, Extraordinary Impact." data-count="horizontal" data-via="krapyDNAapparel">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        <g:plusone size="medium"></g:plusone>
        <span id="fb-wrapper">
        <span id="fb-root"></span><script src="http://connect.facebook.net/en_US/all.js#appId=113713508719087&amp;xfbml=1"></script><fb:like href="http://facebook.com/krapydnaapparel" send="false" layout="button_count" width="15px" show_faces="false" font=""></fb:like></span>
      </div>

    </footer>
  </div> <!-- /.wrapper -->

  {% if blog.title != "sadfaowiejfaddd" %}
  <script type="text/javascript">
      var disqus_shortname = 'krapydna';

      /* * * DON'T EDIT BELOW THIS LINE * * */
          (function () {
              var s = document.createElement('script'); s.async = true;
              s.type = 'text/javascript';
              s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
              (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
          }());
      </script>
  {% endif %}
</body>
</html>