<div id="article" class="clearfix">
  <div class="article-body clearfix clear">

    <div class="previous-next-article clearfix">
      {% if blog.previous_article %}
      <span class="previous-article">
        <a href="{{ blog.previous_article }}" class="previous_product">&#60;&#60;Previous Post</a>
      </span>
      {% endif %}
      {% if blog.next_article %}
      <span class="next-article">
        <a href="{{ blog.next_article }}" class="next_product">Next Post&#62;&#62;</a>
      </span>
      {% endif %}
    </div>

    <div class="blog-title">{{ article.title }}</div>
    <div class="blog-meta">{{article.author}} | {{ article.created_at | date: "%m.%d.%y" }} | <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{article.id}}"></a></div>
    <div class="content">
      {{ article.content }}
      {% include 'article-tags' %}

      <div id="social-buttons">
        <a name="fb_share" id="fb-share-link"></a> 
        <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
                type="text/javascript">
        </script>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="eipark">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          <g:plusone size="medium"></g:plusone>
      </div>
      
    </div>

    
  </div> <!-- /.article-body -->
  {% include 'blog-sidebar' %}
</div>

  {% if blog.comments_enabled? %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'krapyDNA'; // required: replace example with your forum shortname

      // The following are highly recommended additional parameters. Remove the slashes in front to use.
      var disqus_identifier = '{{article.id}}';
      var disqus_url = 'http://www.krapydna.com{{article.url}}';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  {% endif %}
