<div id="collection" class="{{ collection.handle }} clearfix">
  {% if collection.handle == "all" %}

  <div id="content-table" class="clearfix">
    {% for collection in collections %}
    {% unless collection.all_products_count  == 0 %}
    <div id="product-{{ product.handle }}" class="product{% cycle 'featured': ' one', ' two', ' last' %}">
      <div class="image">
        <a href="{{ collection.url }}"><img src="{{ collection.products.first.featured_image | product_img_url: 'large' }}" alt="{{ collection.title | escape  }}" /></a>
      </div>
      <div class="details clearfix">
        <a href="{{ collection.url }}">
          <span class="title">{{ collection.title }}</span>
        </a>
      </div>
    </div>
    {% cycle 'clear-table': '', '', '<div style="clear:both;"></div>' %}
    {% endunless %}
    {% endfor %}
  </div>

  {% else %}
  {% paginate collection.products by settings.pagination_limit %}

  <!-- <div class="image-banner">
    {{ collection.handle | append: '.jpg' | asset_url | img_tag }}
    <span id="collection-title">{{collection.title}}</span>
  </div> -->
 {% if collection.handle == "adoption" %}
  <div id="collection-description">
    {{collection.description}}
  </div>
  {% endif %}
  <div id="content-table" class="clearfix">
    {% for product in collection.products %}
    {% include 'product-loop' with collection.handle %}
    {% endfor %}
  </div>

  {% include 'pagination' %}
  {% endpaginate %}
  {% endif %}
</div> <!-- /#collection -->