<div id="index" class="clearfix">

  <div id="home-banner" class="image-banner">
  </div>
  <!--
  <ul id="slider">
    <li class="slide"><img src="{{ 'slideshow_1.jpg' | asset_url }}" data-url="{{ settings.image_1_link }}" class="slide-img" /></li>
    <li class="slide"><img src="{{ 'slideshow_2.jpg' | asset_url }}" data-url="{{ settings.image_2_link }}" class="slide-img" /></li>
    <li class="slide"><img src="{{ 'slideshow_3.jpg' | asset_url }}" data-url="{{ settings.image_3_link }}" class="slide-img" /></li>
    <li class="slide"><img src="{{ 'slideshow_4.jpg' | asset_url }}" data-url="{{ settings.image_4_link }}" class="slide-img" /></li>
    <li class="slide"><img src="{{ 'slideshow_5.jpg' | asset_url }}" data-url="{{ settings.image_5_link }}" class="slide-img" /></li>
  </ul>
  -->

  {% if settings.frontpage_collection != "" %}
  <div class="more-info">
    <span class="upper">Featured</span>
  </div>

  <div id="content-table" class="clearfix">
    {% for product in collections[settings.frontpage_collection].products limit:8 %}
    {% include 'product-loop' with settings.frontpage_collection %}
    {% endfor %}
  </div>
  {% endif %}

</div> <!-- /#index -->