<div id="index" class="clearfix">
  <div class="slider-container">
    <ul id="slider">
      <li class="slide"><img src="{{ 'slideshow_1.jpg' | asset_url }}" data-url="{{ settings.image_1_link }}" class="slide-img" /></li>
      <li class="slide"><img src="{{ 'slideshow_2.jpg' | asset_url }}" data-url="{{ settings.image_2_link }}" class="slide-img" /></li>
      <li class="slide"><img src="{{ 'slideshow_3.jpg' | asset_url }}" data-url="{{ settings.image_3_link }}" class="slide-img" /></li>
    </ul>
  </div>

  <div id="thirds-container" class="clearfix">
    <div id="home-blog-latest" class="home-third">
      <div class="home-heading"><a href="{{blogs.blog.url}}">Recent Blog Posts</a></div>
      {% for article in blogs.blog.articles limit:2 %}
      <div class="blog-title"><a href="{{ article.url }}">{{ article.title }}</a></div>
      <div class="blog-meta">{{article.author}} | {{ article.created_at | date: "%m.%d.%y" }} | <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{article.id}}"></a></div>
      {{ article.content | strip_html | truncate: 200}}
      {% endfor %}
    </div>
    <div id="home-featured-product" class="home-third">
      <div class="home-heading"><a href="collections/the-creation">The Creation&nbsp;&nbsp;&nbsp;</a></div>
      <a href="/collections/the-creation"><img src="{{ 'krapy_black_290.png' | asset_url}}" id="home-featured-img" /></a>
      <div id="premiere">
        <div id="home-featured-caption">krapyDNA's Premiere Collection</div>
        <a id="shop-now" href="/collections/the-creation">Shop Now!</a>
      </div>
    </div>
    <div id="home-twitter-widget" class="home-third">
      <script src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 6,
        interval: 6000,
        width: 'auto',
        height: 250,
        theme: {
          shell: {
            background: '#666666',
            color: '#ffffff'
          },
          tweets: {
            background: '#ffffff',
            color: '#333333',
            links: '#3e73c2'
          }
        },
        features: {
          scrollbar: true,
          loop: false,
          live: false,
          hashtags: true,
          timestamp: true,
          avatars: false,
          behavior: 'all'
        }
      }).render().setUser('krapyDNAapparel').start();
      </script>
    </div>
  </div>
</div> <!-- /#index -->